@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fira+Sans:ital,wght@1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-y: hidden;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

marquee {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  font-size: 10vh;
  position: relative;
  z-index: 2;
}